body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
/*    background-color: rgb(0, 204, 255);*/
    opacity: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
}


nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li .left{
    color: black;
}

nav ul li a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(42, 6, 110);
}

.r-flx{
  display: flex;
}

.logout{
  display: none;
}
/* Style for the login form container */
.login-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for form elements */
.login-container input[type="text"],
.login-container input[type="password"],
.login-container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Style for the login button */
.login-container button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

/* Style for the login button on hover */
.login-container button:hover {
    background-color: #0056b3;
}

.container {
  max-width: 600px;
  width: 40vw;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.record-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.record-form label {
  margin-bottom: 5px;
}

.record-form input {
  padding: 10px;
  margin-bottom: 10px;
}

.record-form button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.record-form button:hover {
  background-color: #555;
}

.record-list {
  list-style: none;
  padding: 0;
}

.record-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 10px;
}

.record-list li span {
  font-weight: bold;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group button {
  width: 48%;
}

.button-group button:hover {
  background-color: #555;
}

/* New styles for additional functionalities */
.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group button {
  width: 48%;
}

.button-group button:hover {
  background-color: #555;
}